// Colors
$white:                         #ffffff;

$greyLight:                     #eef2ff;
$greyDark:                      #111a21;

$purpleLight:                   #b283ba;
$purpleMid:                     #8242C4;
$purpleDark:                    #3D1E5E;

$blueDarkest:                   #0b0d13;
$blueDarker:                    #1e2433;
$blueDark:                      #343946;



$yellowMid:                     #ff9017;

$primaryColor:                  $purpleMid;
$bgColor:                       $greyLight;
$darkBgColor:                   $blueDarkest;
$adminNavBg:                    $purpleDark;
$adminNavBgDarker:              darken($adminNavBg, 5%);
$adminNavBgDarkest:             darken($adminNavBg, 10%);
$adminNavLinkColor:             lighten($adminNavBg, 50%);
$adminNavLinkColorActive:       lighten($adminNavBg, 30%);

// Body
$body-bg: $bgColor;
$body-color: $blueDarkest;

// Typography
$headings-font-family: "Montserrat", "Georgia", sans-serif;
$font-family-sans-serif: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

//Bootstrap Colors
$primary: $purpleMid;
$light: $greyLight;
$dark: $darkBgColor;

//Border radius
$border-radius:                 6px;
