// Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html {overflow: auto; min-height: 100vh; }
h1, .h1 {
    letter-spacing: 0.1rem;
    font-weight: 900;
}
h4, .h4 {
    font-weight: 400;
}

.bg-dark {
    color: $light;
    background-image: linear-gradient(33deg, $blueDarkest, $blueDarker);
}
.bg-app {
    color: $blueDarkest;
    background: $gray-400 linear-gradient(33deg, $gray-400, rgba($purpleLight, 0.5));
}

.vertically-center {
    min-height: 100vh;
    align-items: center;
}
.logo {
    width: 135px;
}
.mage {
    max-width: 600px;
}

.login-cta {
    position: absolute;
    top: 0; right: 0;
    padding: .5rem;
    display: flex;

    p {
        margin: 0;
    }
}

@include media-breakpoint-down(md) {
    .wizard-after {
        padding-bottom: 300px;
        overflow: hidden;
        align-items: start;
        position: relative;

        &::after {
            content: '';
            width: 300px; height: 320px;
            position: absolute;
            bottom: -25px;
            left: 50%;
            transform: translateX(-50%);
            background-image: url('/images/wizard.png');
            background-size: 300px auto;
            background-repeat: no-repeat;
            background-position: center top;
        }
    }
}

.btn {
    &.btn-brand {
        background-color: $purpleMid;
        color: $light;
        border-radius: 100px;

        &:hover {
            background-color: $purpleDark;
        }

    }
}
